.createRingtonePageContainer {
  text-align: center;
  min-height: 660px;
}

.addNoteContainer {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 2%;
  padding-top: 2%;
}

.addNoteButton, .previewButton, .saveButton {
  margin-bottom: 1%;
}

.nameInput {
  margin-bottom: 1%;
}

.playNoteButton {
  margin-left: 2%;
  margin-right: 1%;
}

.pitchSelectSpan, .durationSelectSpan {
  padding-left: 1%;
  padding-right: 1%;
}

.pitchSelect, .durationSelect {
  width: 120px;
}

.oneNoteContainer {
  margin-bottom: 1%;
}

.ringtoneEditor, .noteEditor {
  padding-left: 50px;
  padding-right: 50px;
}

.checkRingtone {
  margin-top: 20px;
  margin-bottom: 20px;
}