.schedulePageContainer {
  text-align: center;
  min-height: 80vh;
}

.schedulePageContainer li{
  cursor: pointer;
  margin: 15px 0;
}

.helpText {
  padding-top: 20px;
  padding-left: 20px;
  color: rosybrown;
}

.no-alarm-text {
  padding-left: 20px;
}