.ringtonePageContainer {
  text-align: center;
  min-height: 80vh;
}

.publicRingtoneListContainer, .privateRingtoneListContainer {
  text-align: justify;
  padding-left: 10vh;
  padding-right: 10vh;
}

.ringtoneName {
  width: 50%;
  margin-bottom: 10px;
  margin-right: 10px;
}

.deleteRingtone {
  width: 10%;
}